
body {
    background-color: rgb(159, 216, 233);
    width: 100%;
    height: 100%;
    
}
section {
    border: 3px outset rgb(146, 146, 155);
    margin: 3px;
}
p { 
    font-size: 15px;
    color: #3b3a3a;
    line-height: 150%;
    margin-top: 10px; 
    margin-left: 60px;
 }
 h1 {
     font-size: 30px;
 }
 h2 {
    font-size: 20px;
 }
 h3 {
    font-size: 15px;

 }
img {
    width: 60%;
    height: 60%;
    border: 3px outset rgb(146, 146, 155);
    margin: 2%;
}
div {
    margin: 2%;
  
}
header {
    background-color: white;
    font-size: 50px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0000ff;
    
}
footer {
    background-color: white ;
    font-size: 7px;
    font-family:sans-serif;
    text-align: center;
    height: 200px;
    margin: 10px;
}
.main {
    width: 50%;
    margin-left: 25%;

}
.visa {
    opacity: 0.3;
    width: 10%;
    height: 15%;
}